body {
    background-image: url(../../images/bg.jpg);
    font-family: 'Montserrat', sans-serif;

}

.container {
    background: #ffffff;
}
/* header Styles */
.header {
    background-color: #054a76;
    color: #fff;
    margin: 0;
    padding: 0 0.75em;
}

.logo-text h1 {
    font-size: 1.5em;

}

.user-info {
    text-align: right;
    font-size: 0.875em;
}

.user-info img {
    margin-right: 0.625em;
}

.user-info .dropdown-menu {
    min-width: 13rem;
}

.user-info .dropdown-trigger {
    cursor: pointer;
}

.username {
    color: #f3db0e;
}

/* product's table style */ 
.table-header {
    background: #f4f4f4;
    border-radius: 0.5em;
}

.table-header .column {
    font-size: 1.063em;
    padding-left: 1.25em;
}

.product-row {
    border-bottom:1px solid #dddddd;
}

.product-image {
    padding-left: 1.25em;
}

.product-image img {
    border: 1px solid #dddddd;
    padding: 0.125em;
}

.product-title {
    padding-left: 1.25em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product-title h1 {
    font-size: 1.188em;
    color: #083f79;
}

.product-title h2  {
    font-size: 1.063em;
    margin-top: -45px;
}

.center-container {
    display: flex;
    align-items: center;
}

input.quantity {
    border-radius: 0.5em;
    font-size: 1.063em;
    border: 1px solid #dddddd;
    padding-left:12px;
}

